<div class="w-100 c-white">
    <div class="rounded-big border dynamic p-2 text-center shop-item">
        <div class="img-parent rounded-big big-img">
            <img class="d-block m-auto img-item img-fluid rounded-big" src="{{data.drink.indirizzo_immagine}}" alt="img">
        </div>
        <div class="p-2">
            <span class="bold d-block w-100">{{data.drink.nome}}</span>
        </div>
        <button class="w-100 btn outline-green" [routerLink]="['/details', data.drink.id_drink]" (click)="closeDialog()">
            Scopri di più
        </button>
    </div>
</div>