<nav class="navbar p-0 position-fixed top-0 w-100">
    <div class="container h-100">
        <div class="d-flex flex-row justify-content-between align-items-center h-100 w-100">
            <div class="h-100 py-2">
                <img class="no-drag cursor-pointer navbar-logo img-fluid" src="assets/logo.png" alt="logo" [routerLink]="['']">
            </div>
            <ul class="h-100 navbar-nav">
                <li class="navbar-item cursor-pointer px-3" [routerLink]="['/about']">
                    <span>Chi siamo</span>
                </li>              
            </ul>
        </div>
    </div>
</nav>