<div class="contenitore">
        <footer class="d-flex flex-column justify-content-center">
                <div class="text-center">
                        <h5>The Cocktail Software</h5>
                </div>
        </footer>
</div>