<div class="w-100 h-100">
    <div class="d-flex flex-row justify-content-center align-content-center h-100">
        <div class="loader">
            <div id="spinner" class="mb-4 w-100">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>
    </div>
</div>