<div class="container-fluid" *ngIf="cocktail; else loader">
    <div class="w-100" *ngIf="cocktail.length > 0; else empty">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="c-white">
                    {{msg}}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12" *ngFor="let item of currentCocktails">
                <div class="w-100 p-3 c-white">
                    <div class="rounded-big dynamic hover-shadow p-2 text-center shop-item">
                        <div class="img-parent rounded-big big-img">
                            <img class="d-block m-auto img-item img-fluid rounded-big" src="{{item.indirizzo_immagine}}" alt="img">
                        </div>
                        <div class="p-2">
                            <span class="bold d-block w-100">{{item.nome}}</span>
                        </div>
                        <button class="w-100 btn outline-green" [routerLink]="['/details', item.id_drink]">
                            Scopri di più
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-10 offset-1 mt-4">
                    <mat-paginator [length]="cocktail.length"
                                (page)="paginate($event)"
                                [pageSize]="12">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
    <ng-template #empty>
        <div class="row">
            <div class="col-12 text-center c-white">
                <h1>Non ho trovato drink basati su questa ricerca.</h1>
                <span>Prova con un'altra ricerca!</span>
            </div>
        </div>
    </ng-template>
</div>

<ng-template #loader>
    <div class="container-fluid">
        <app-loader></app-loader>
    </div>
</ng-template>