<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 text-center c-white">
            <h1>Creatori del software:</h1>
            <ul class="list-decoration-none">
                <li>Christian Carpinelli</li>
                <li>Christian Gnagni</li>
                <li>Daniele Cozzolino</li>
                <li>Giuseppe Mauro</li>
                <li>Simone Saccaro</li>
            </ul>
        </div>
    </div>
</div>