<div class="ricerca">
    <div class="w-100">
        <label for="search-bar" class="c-white d-block text-center m-0" *ngIf="ingredientiSelezionati && ingredientiSelezionati.length > 0"><small>Modalità filtro per ingredienti</small></label>
        <div class="row">
            <div class="my-4 col-md-10 offset-md-1 col-12">
                <div class="row">
                    <div class="order-md-1 order-2 col-md-1 col-4 d-flex flex-row justify-content-center align-items-center">
                        <button class="search-button d-flex align-items-center flex-column mx-3" (click)="openDialog()" matTooltip="Scopri il cocktail del giorno.">
                            <span class=" material-icons c-black ">
                                casino
                            </span>
                        </button>
                    </div>
                    <div class="order-md-2 order-1 col-md-9 col-12 w-100 mb-md-0 mb-3">
                        <div *ngIf="ingredientiSelezionati && ingredientiSelezionati.length > 0; else searchBarDrink" class="input search-bar d-block w-100">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let ingrediente of ingredientiSelezionati" [selectable]="selectable"
                                         [removable]="removable" (removed)="removeIngrediente(ingrediente)">
                                  {{ingrediente}}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <ng-template #searchBarDrink>
                            <input class="input search-bar d-block w-100" name="search-bar" type="text" placeholder="Ricerca" [(ngModel)]="ricerca" (keyup.enter)="search()">
                        </ng-template>
                    </div>
                    <div class="order-md-3 order-4 col-md-1 col-4 d-flex flex-row justify-content-center align-items-center">
                        <button class="search-button d-flex align-items-center flex-column mx-3 " (click)="search() " matTooltip="Ricerca quello che hai scritto. ">
                            <span class="material-icons c-black ">
                                search
                            </span>
                        </button>
                    </div>
                    <div *ngIf="ingredientiSelezionati && ingredientiSelezionati.length > 0" class="order-md-4 order-3 col-md-1 col-4 d-flex flex-row justify-content-center align-items-center">
                        <button class="bg-error search-button d-flex align-items-center flex-column mx-3" (click)="removeIngredienti()" matTooltip="Cancella tutti gli ingredienti selezionati.">
                            <span class=" material-icons c-white ">
                                delete_outline
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" *ngIf="dropdownFiltro">
        <div class="row c-white ">
            <div class="col-lg-3 col-md-6 col-12 ">
                <div class="bg-white px-3 rounded w-100 m-1 ">
                    <mat-form-field class="w-100 " matTooltip="Seleziona il tipo di bicchiere ">
                        <mat-label>Bicchiere</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let option of bicchieri " (click)="opzioneBicchieri(option) ">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 ">
                <div class="bg-white px-3 rounded w-100 m-1 ">
                    <mat-form-field class="w-100 " matTooltip="Seleziona la categoria di drink">
                        <mat-label>Categorie</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let option of categorie " (click)="opzioneCategorie(option) ">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 ">
                <div class="bg-white px-3 rounded w-100 m-1 ">
                    <mat-form-field class="w-100 " matTooltip="Seleziona una tipologia alcolica">
                        <mat-label>Tipologie alcoliche</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let option of opzioniAlcoliche " (click)="opzioneAlcoliche(option) ">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 ">
                <div class="bg-white px-3 rounded w-100 m-1 ">
                    <mat-form-field class="w-100 ">
                        <mat-label>Ingrediente</mat-label>
                        <mat-select [(ngModel)]="ingredientiSelezionati" multiple name="ingredientiSelezionati ">
                            <mat-option *ngFor="let option of ingredienti" [value]="option ">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="p-md-3 p-0 c-white cursor-pointer d-flex flex-column justify-content-center align-content-center point-down-animation" (click)="dropdownFiltro=!dropdownFiltro ">
        <span>
            {{dropdownFiltro ? 'Rimuovi filtri di ricerca' : 'Usa filtri di ricerca'}}
        </span>
        <div class="w-100">
            <span class="material-icons arrow dynamic" [class.rotate-arrow]="dropdownFiltro">
                expand_more
            </span>
        </div>
    </div>
</div>