html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
}

* {
    box-sizing: border-box;
}

:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --gray7: #060808;
    --red0: #ff1e1e;
    --red1: #ff3d3d;
    --red2: #ff5151;
    --white: #ffffff;
    --black: #000000;
}

.dark {
    --bg: var(--gray5);
    --bg-dark: var(--gray7);
    --bg-nav: linear-gradient(to right, var(--gray4), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --error: var(--red2);
    --error-hover: var(--red1);
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.list-decoration-none {
    list-style: none;
}

a {
    text-decoration: none;
}

.c-white {
    color: var(--white) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.c-black {
    color: var(--black) !important;
}

.bg-black {
    background-color: var(--black) !important;
}

.bg-dark {
    background-color: var(--bg-dark) !important;
}
.c-error {
    color: var(--error) !important;
}
.bg-error {
    background-color: var(--error) !important;
}
.bg-error:hover {
    background-color: var(--error-hover) !important;
}

.navbar {
    z-index: 999;
    height: 70px;
    background: var(--bg-nav);
    color: var(--text);
}

.navbar-item {
    transition: background .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar-item:hover {
    background-color: var(--gray5);
}

.navbar-logo {
    height: 90%;
}

.cursor-pointer {
    cursor: pointer;
}

.no-drag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.ricerca {
    padding: 1em;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    background: var(--bg-nav);
    margin-bottom: 1em;
    padding-bottom: 3em;
    text-align: center;
}

.search-bar {
    border-radius: 30px;
    padding: 10px 20px;
}

.input,
button {
    background-color: var(--white);
    transition: background .2s ease-in-out;
    border: 1px solid var(--gray2);
}

.search-button {
    border-radius: 50%;
    padding: 10px 11px;
}

.search-bar:hover,
.search-button:hover {
    background-color: var(--gray1);
}

/*footer {
    position: relative;
    height: 60px;
    margin-top: -60px;
    clear: both;
    -webkit-clip-path: polygon(100% 65%, 100% 100%, 0 100%, 0 65%, 50% 50%);
    clip-path: polygon(100% 65%, 100% 100%, 0 100%, 0 65%, 50% 50%);
    background: var(--bg-nav);
    text-align: center;
}*/

#page-container {
    min-height: 100%;
}

#content-wrap {
    padding-top: 60px;
    overflow: auto;
    padding-bottom: 60px;
}

.dynamic {
    transition: .4s;
}
.dynamic-quick {
    transition: .2s;
}

.hover-shadow:hover {
    -webkit-box-shadow: 0px 0px 16px 1px var(--gray4);
    -moz-box-shadow: 0px 0px 16px 1px var(--gray4);
    box-shadow: 0px 0px 16px 1px var(--gray4);
}

.rounded-big {
    border-radius: 1rem;
}

.border-bottom {
    border-bottom: 1px solid var(--gray2) !important;
}

.border-top {
    border-top: 1px solid var(--gray2) !important;
}

.border-left {
    border-left: 1px solid var(--gray2) !important;
}

.border-right {
    border-right: 1px solid var(--gray2) !important;
}

.border {
    border: 2px solid var(--gray4) !important;
}

.mat-dialog-container {
    padding: 0 !important;
    border-radius: 1rem !important;
}

.big-img {
    height: 200px;
}

.btn {
    color: var(--gray1);
    transition: .3s;
    border-radius: 25px;
    padding: 10px 25px;
}

.btn.outline-green {
    padding: 5px 15px;
}

.btn:hover {
    background-color: var(--gray1);
    -webkit-box-shadow: 0px 0px 37px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 37px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 37px -18px rgba(0, 0, 0, 0.75);
}

.bold {
    font-weight: bold !important;
}

.outline-green {
    border: 3px solid var(--gray5);
}

.outline-green:hover {
    color: white;
    background-color: var(--gray4);
}

.shop-item {
    background-color: var(--gray7);
}

.shop-item:hover {
    background-color: var(--gray6);
}

.img-parent {
    max-width: 100%;
    background-color: var(--gray-light);
}

.img-item {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.loader {
    width: 300px;
    height: auto;
}

.center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

#spinner>div {
    width: 20px;
    height: 20px;
    background-color: var(--red2);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.arrow {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); 
}
/*
.point-down-animation:hover .arrow{
    -moz-transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -o-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
}
.point-up-animation:hover .arrow{
    -moz-transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
    -o-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
}*/

.arrow.rotate-arrow {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.all-page {
    height: 100vh;
}

*:focus {
    outline: none;
}

@media (max-width: 767.98px) {
    .ricerca {
        clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    }
}

@media (min-width: 992px) {
    .w-md-50 {
        width: 50% !important;
    }
}

@media (max-width: 1199.98px) {}

.contenitore{
    width: 100% !important;
    padding: 0 !important;
    background: var(--gray7);

}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    background: var(--bg-nav);
    clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 50%, 50% 0%);
    /*100% 65%, 100% 100%, 0 100%, 0 65%, 50% 50%*/
    color: #ffffff;
}

.gradient-font{
    background: -webkit-linear-gradient(var(--gray0), var(--gray3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mat-paginator-container {
    border: 2px solid var(--gray5);
    background-color: var(--gray6);
    color: var(--gray1);
}