<app-hero (nomeCocktail)="setNomeCocktail($event)" (opzioneBicchiere)="setOpzioneBicchiere($event)" (opzioneCategoria)="setOpzioneCategoria($event)" (opzioneAlcolica)="setOpzioneAlcolica($event)" (opzioneIngrediente)="setOpzioneIngrediente($event)"></app-hero>
<app-body [nomeCocktail]="nomeCocktail" [opzioneBicchiere]="opzioneBicchiere" [opzioneCategoria]="opzioneCategoria" [opzioneAlcolica]="opzioneAlcolica" [opzioneIngrediente]="opzioneIngrediente"></app-body>
