<div class="container-fluid" *ngIf="drink; else loader">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="c-white gradient-font">{{drink.nome}}</h1>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-lg-4 col-md-6 col-12 pb-2">
            <img [src]="drink.indirizzo_immagine" class="rounded-big border img-fluid" alt="foto cocktail">
        </div>

        <div class="col-lg-7 col-md-6 col-12 pb-2">
            <div class="row">
                <div class="col-lg-6 col-12 pb-2">
                    <div class="d-flex flex-row align-item-center justify-content-center h-100">
                        <div class="shop-item dynamic p-2 w-100 rounded-big border">
                            <h3 class="d-block w-100 c-white text-center">QUANTITÀ</h3>
                            <div class="c-white w-100 h-100 d-flex flex-row justify-content-between align-item-center">
                                <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-start">
                                    <h6>Ingrediente</h6>
                                    <ul class="px-1 py-0 border-top list-decoration-none">
                                        <li *ngFor="let item of drink.ingredienti" class="py-2 text-center font-white">{{item}}</li>
                                    </ul>
                                </div>
                                <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-start">
                                    <h6>Quantità</h6>
                                    <ul class="px-1 py-0 border-top list-decoration-none">
                                        <li *ngFor="let item of drink.quantita_ingr" class="py-2 text-center font-white">{{item}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 pb-2">
                    <div class="d-flex flex-row align-item-center justify-content-center h-100">
                        <div class="shop-item dynamic p-2 w-100 rounded-big border">
                            <h3 class="d-block w-100 c-white text-center">ISTRUZIONI</h3>
                            <div class="c-white w-100 h-100 d-flex flex-row justify-content-between align-item-center">
                                <p class="text-center font-white">{{drink.istruzioni}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">

                <div class="col-12">
                    <div class="shop-item dynamic p-2 w-100 rounded-big border c-white">
                        <h3 class="d-block w-100 c-white text-center">Caratteristiche del drink</h3>
                        <div class="d-flex flex-column justify-content-center align-items-center w-100">
                            <span>Tipo drink: {{drink.is_alcolico}}</span>
                            <span>Bicchiere: {{drink.tipo_bicchiere}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="ingredienti; else loaderIngredienti">
        <div class="col-lg-3 col-md-4 col-12" *ngFor="let item of ingredienti">
            <div class="w-100 p-3 c-white">
                <div class="rounded-big dynamic hover-shadow p-2 text-center shop-item">
                    <div class="img-parent rounded-big big-img">
                        <img class="d-block m-auto img-item img-fluid rounded-big" src="{{item.indirizzoImg}}" alt="img">
                    </div>
                    <div class="p-2">
                        <span class="bold d-block w-100">{{item.nome}}</span>
                    </div>
                    
                    <div class="p-2">
                        <span class="bold d-block w-100">{{item.tipo}}</span>
                    </div>
                    
                    <div class="p-2">
                        <span class="bold d-block w-100">Alcolico: {{item.tipoAlcolico}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loaderIngredienti>
        <div class="row">
            <app-loader></app-loader>
        </div>
    </ng-template>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>